<template>
  <section class="container">
    <div class="row">
      <form class="feedback col-8" v-if="!formSaved">
        <h4 class="feedback-title">Вопрос</h4>
        <div class="feedback-container">
          <div class="feedback-item row">
            <label class="feedback-label required col-4">Услуга</label>
            <select
              :class="['form-control form-control-sm feedback-input col-7',
              {'error': $v.formData.service.$error }]"
              name="service"
              v-model="formData.service"
            >
              <option value="mobile">Услуги мобильной связи</option>
              <option value="home">Домашний интернет и телевидение</option>
              <option value="global">Спутниковое телевидение</option>
            </select>
          </div>
          <div class="feedback-item row">
            <label class="feedback-label required col-4">Вопрос</label>
            <select
              :class="['form-control form-control-sm feedback-input col-7',
              {'error': $v.formData.question.$error }]"
                    name="question"
                    v-model="formData.question"
            >
              <option value="common">Тарификация услуги и/или абонентской платы</option>
              <option value="problem">Проблема работы функционала</option>
              <option value="another">Другое</option>
            </select>
          </div>
          <div class="feedback-item row">
            <label class="feedback-label required col-4">Описание проблемы</label>
            <textarea
              :class="['feedback-input col-7',
              {'error': $v.formData.description.$error }]"
              placeholder="Введите описание"
              v-model="formData.description"
            >
            </textarea>
          </div>
          <div class="feedback-item row">
            <label class="feedback-label col-4">Файл</label>
            <input type="file" class="feedback-input col-7" placeholder="Файл"
                   @change="handleFiles"
            >
          </div>
          <div class="feedback-item row">
            <label class="feedback-label required col-4">Способ связи</label>
            <select
              :class="['form-control form-control-sm feedback-input col-7',
              {'error': $v.formData.communication.$error }]"
              name="communication"
              v-model="formData.communication"
            >
              <option value="phone">Телефон</option>
              <option value="email">E-mail</option>
            </select>
          </div>

          <div class="feedback-item row" v-if="formData.communication === 'phone'">
            <label class="feedback-label required col-4">Телефон</label>
            <input type="tel"
                   :class="['feedback-input col-7',
              {'error': $v.formData.phone.$error }]"
                   placeholder="Введите телефон"
                   v-model="formData.phone"
            >
          </div>
          <div class="feedback-item row" v-if="formData.communication === 'email'">
            <label class="feedback-label required col-4">Почта</label>
            <input
              type="email"
              :class="['feedback-input col-7',
              {'error': $v.formData.email.$error }]"
              placeholder="Введите почту"
              v-model="formData.email"
            >
          </div>
        </div>
        <div class="feedback-footer">
<!--          <button type="button" class="feedback-arrow" @click="prevTab">Назад</button>-->
<!--          <button type="button" class="feedback-arrow" @click="nextTab">Вперед</button>-->
          <button type="button" class="feedback-arrow" @click="saveForm">Сохранить</button>
        </div>
      </form>
      <div class="feedback col-4" v-else>
        <div class="feedback-success">
          Ваша заявка <a href="./appeals.html"><b>{{ getNumber }}</b></a> зарегистрирована.
        </div>
        <div class="feedback-success">
          Ожидайте ответ по вашему вопросу
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { required, requiredIf } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';
import FavourService from '@/service/FavourService';
// @ is an alias to /src

export default {
  name: 'Home',

  components: {
  },

  mixins: [validationMixin],

  data() {
    return {
      formData: {
        service: '',
        question: '',
        description: '',
        file: {},
        communication: '',
        firstName: '',
        secondName: '',
        lastName: '',
        phone: '',
        email: '',
      },
      formSaved: false,
      tabIndex: 0,
      tabStructure: [
        {
          title: 'Первая вкладка',
          component: 'Первая вкладка',
        },
        {
          title: 'Вторая вкладка',
          component: 'Вторая вкладка',
        },
      ],
    };
  },

  computed: {
    getNumber() {
      const range = 1000000; // максимальное значение (1..1000000 включительно)
      const count = 1; // кол-во требуемых чисел

      const m = {};
      const a = [];
      for (let i = 0; i < count; i += 1) {
        const r = Math.floor(Math.random() * (range - i));
        a.push(((r in m) ? m[r] : r) + 1);
        const l = range - i - 1;
        m[r] = (l in m) ? m[l] : l;
      }
      return a[0];
    },
  },

  validations: {
    formData: {
      service: {
        required,
      },
      question: {
        required,
      },
      description: {
        required,
      },
      communication: {
        required,
      },
      phone: {
        required: requiredIf(
          // eslint-disable-next-line func-names
          function () {
            return this.formData.communication === 'phone';
          },
        ),
      },
      email: {
        required: requiredIf(
          // eslint-disable-next-line func-names
          function () {
            return this.formData.communication === 'email';
          },
        ),
      },
    },
  },

  methods: {
    nextTab() {
      this.tabIndex += 1;
    },

    prevTab() {
      this.tabIndex -= 1;
    },

    handleFiles(event) {
      this.formData.file = event.target.value;
    },

    async saveForm() {
      this.formSaved = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        console.log('error', this.$v);
        this.formSaved = false;
        return;
      }
      try {
        const response = await FavourService.save({ ...this.formData });
        console.log('Save result', response);
      } catch (e) {
        console.log('ERROR on save', e);
      }
    },
  },
};
</script>
