<template>
    <div class="chat">
        <ChatTitle v-bind:fio="'Zuev Valery'" :post="'Full stack developer'"/>
        <MessagesList/>
        <MessageBox/>
    </div>
</template>

<script>
import ChatTitle from './chat/ChatTitle.vue';
import MessagesList from './chat/MessagesList.vue';
import MessageBox from './chat/MessageBox.vue';
import { ADD_MESSAGE } from '../store/mutation-types';

export default {
  name: 'Chat',
  components: { ChatTitle, MessagesList, MessageBox },
  methods: {
    addMessage(message) {
      this.$store.commit(ADD_MESSAGE, message);
    },
  },
};
</script>
<style lang="scss">
    @import "../styles/chat.scss";
</style>
